---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";
import Logo from "@components/Logo.astro";
---

<header class="sticky top-0 z-50 w-full border-b border-black/10 bg-cream/80 backdrop-blur-md dark:border-white/10 dark:bg-navy/80">
  <nav class="mx-auto flex h-24 max-w-5xl items-center justify-between px-12">
    <a href="/" class="shrink-0 transition-opacity hover:opacity-70">
      <Logo />
    </a>

    <div class="hidden flex-1 justify-center md:flex">
      <Navigation />
    </div>

    <div class="flex items-center gap-3">
      <div class="md:hidden">
        <Menu />
      </div>
      <ThemeIcon />
    </div>
  </nav>
</header>
