---
import Navigation from './Navigation.astro';
import Menu from './Menu.astro';
import ThemeIcon from './ThemeIcon.astro';
import Logo from '@components/Logo.astro';
---
<header class="w-full border-b border-black/10 dark:border-white/10">
  <nav class="max-w-5xl mx-auto px-12 flex justify-between items-center h-20">

    <a href="/" class="shrink-0 hover:opacity-70 transition-opacity">
      <Logo />
    </a>

    <div class="hidden md:flex flex-1 justify-center">
      <Navigation />
    </div>

    <div class="flex items-center gap-3">
      <div class="md:hidden">
        <Menu />
      </div>
      <ThemeIcon />
    </div>

  </nav>
</header>