<li id="main-menu" class="flex items-center gap-10">
  <a href="/about" class="group relative font-normal tracking-widest text-black/80 transition hover:text-black dark:text-white/80 dark:hover:text-white">
    About
    <span class="absolute -bottom-1 left-0 block h-px w-full origin-left scale-x-0 bg-black/70 transition-transform duration-300 group-hover:scale-x-100 dark:bg-white/70"></span>
  </a>

  <a href="/blog" class="group relative font-normal tracking-widest text-black/80 transition hover:text-black dark:text-white/80 dark:hover:text-white">
    Blog
    <span class="absolute -bottom-1 left-0 block h-px w-full origin-left scale-x-0 bg-black/70 transition-transform duration-300 group-hover:scale-x-100 dark:bg-white/70"></span>
  </a>

  <a href="/tags" class="group relative font-normal tracking-widest text-black/80 transition hover:text-black dark:text-white/80 dark:hover:text-white">
    Tags
    <span class="absolute -bottom-1 left-0 block h-px w-full origin-left scale-x-0 bg-black/70 transition-transform duration-300 group-hover:scale-x-100 dark:bg-white/70"></span>
  </a>
</li>
