<li id="main-menu" class="flex items-center gap-10">
  <a href="/about" class="group relative tracking-widest font-normal text-black/80 hover:text-black dark:text-white/80 dark:hover:text-white transition">
    About
    <span class="absolute block left-0 -bottom-1 h-px w-full bg-black/70 dark:bg-white/70 scale-x-0 origin-left transition-transform duration-300 group-hover:scale-x-100"></span>
  </a>

  <a href="/blog" class="group relative tracking-widest font-normal text-black/80 hover:text-black dark:text-white/80 dark:hover:text-white transition">
    Blog
    <span class="absolute block left-0 -bottom-1 h-px w-full bg-black/70 dark:bg-white/70 scale-x-0 origin-left transition-transform duration-300 group-hover:scale-x-100"></span>
  </a>

  <a href="/tags" class="group relative tracking-widest font-normal text-black/80 hover:text-black dark:text-white/80 dark:hover:text-white transition">
    Tags
    <span class="absolute block left-0 -bottom-1 h-px w-full bg-black/70 dark:bg-white/70 scale-x-0 origin-left transition-transform duration-300 group-hover:scale-x-100"></span>
  </a>
</li>